<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright (c) 2017 GreenWerx.org.
Licensed under CPAL 1.0,  See license.txt  or go to http://greenwerx.org/docs/license.txt  for full license details.
-->
<packages>
  <package id="AD.System.Web.Helpers.dll" version="2.0.0" targetFramework="net452" />
  <package id="AE.Net.Mail" version="1.7.10.0" targetFramework="net452" />
  <package id="AutoMapper" version="7.0.1" targetFramework="net452" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.Cors" version="5.2.7" targetFramework="net452" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.6" targetFramework="net452" />
  <package id="Microsoft.AspNet.Razor" version="3.2.7" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Cors" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.6" targetFramework="net452" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net452" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net452" />
  <package id="morelinq" version="3.1.1" targetFramework="net452" />
  <package id="MySql.Data" version="6.10.9" targetFramework="net452" />
  <package id="MySql.Data.Entity" version="6.10.9" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net452" />
  <package id="Owin" version="1.0" targetFramework="net452" />
  <package id="Portable.BouncyCastle" version="1.8.1" targetFramework="net452" />
  <package id="Portable.JWT" version="1.0.5" targetFramework="net452" />
  <package id="System.ComponentModel" version="4.3.0" targetFramework="net452" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net452" />
  <package id="WebApiThrottle" version="1.5.4" targetFramework="net452" />
</packages>