<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright (c) 2017 GreenWerx.org.
Licensed under CPAL 1.0,  See license.txt  or go to http://greenwerx.org/docs/license.txt  for full license details.
-->
<packages>
  <package id="AD.System.Web.Helpers.dll" version="2.0.0" targetFramework="net452" />
  <package id="AE.Net.Mail" version="1.7.10.0" targetFramework="net452" />
  <package id="AutoMapper" version="9.0.0" targetFramework="net472" />
  <package id="BouncyCastle" version="1.8.3.1" targetFramework="net472" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net472" />
  <package id="Google.Protobuf" version="3.6.1" targetFramework="net472" />
  <package id="K4os.Compression.LZ4" version="1.1.11" targetFramework="net472" />
  <package id="K4os.Compression.LZ4.Streams" version="1.1.11" targetFramework="net472" />
  <package id="K4os.Hash.xxHash" version="1.0.6" targetFramework="net472" />
  <package id="Microsoft.AspNet.Cors" version="5.2.7" targetFramework="net452" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.Razor" version="3.2.7" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Cors" version="5.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.7" targetFramework="net472" />
  <package id="Microsoft.Owin" version="4.1.0" targetFramework="net472" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net452" />
  <package id="morelinq" version="3.3.2" targetFramework="net472" />
  <package id="MySql.Data" version="8.0.20" targetFramework="net472" />
  <package id="MySql.Data.Entity" version="6.10.9" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="NuGet.Build" version="2.12.1" targetFramework="net452" />
  <package id="NuGet.CommandLine" version="5.5.1" targetFramework="net472" developmentDependency="true" />
  <package id="NuGetPowerTools" version="0.29" targetFramework="net452" />
  <package id="Owin" version="1.0" targetFramework="net452" />
  <package id="Portable.BouncyCastle" version="1.8.6.7" targetFramework="net472" />
  <package id="Portable.JWT" version="1.0.5" targetFramework="net452" />
  <package id="SSH.NET" version="2016.1.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net472" />
  <package id="System.ComponentModel" version="4.3.0" targetFramework="net452" />
  <package id="System.Memory" version="4.5.3" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.6.0" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net452" requireReinstallation="true" />
  <package id="WebApiThrottle" version="1.5.4" targetFramework="net452" />
</packages>